<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header-content">
    <title id="pageTitle">Users</title>
</head>
<body>
<div class="mx-auto">
    <nav th:replace="fragments/navbar :: admin-navbar-content"></nav>
    <nav class="w-75" aria-label="breadcrumb" style="margin: 0 auto;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin/index}" href="#">Admin panel</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin/user/index}">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">View</li>
        </ol>
    </nav>
    <div class="w-75" style="margin: 0 auto;">
        <a class="btn btn-success" href="#" th:href="@{'/admin/user/' + ${user.getId()} + '/update'}" th:text="Update">Link</a>
        <a class="btn btn-danger" href="#" th:href="@{'/admin/user/' + ${user.getId()} + '/delete'}" th:text="Delete">Link</a>
    </div>
    <div class="w-75 mt-2" style="margin: 0 auto;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#summary" data-toggle="tab">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#roles" data-toggle="tab">Roles</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="summary" class="tab-pane active">
            <div class="card-deck w-75 mt-2" style="margin: 0 auto;">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <th class="col col-3">Item</th>
                            <th class="col col-9">Value</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>ID</td>
                                <td th:utext="${user.getId()}"></td>
                            </tr>
                            <tr>
                                <td>Image</td>
                                <td><img src="#"
                                         th:src="@{'/staff/' + ${user.getId()} + '/profileimage'}"
                                         height="250">
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td th:utext="${user.getFirstName() + ' ' + user.getLastName()}">John Doe</td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td th:utext="${user.getUserName()}"></td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td th:utext="${user.getType()}"></td>
                            </tr>
                            <tr>
                                <td>Date creating</td>
                                <td th:text="${#dates.format(user.getCreatedAt(), 'd MMM y')}"></td>
                            </tr>
                            <tr>
                                <td>Date updating</td>
                                <td th:utext="${#dates.format(user.getUpdatedAt(), 'd MMM y')}"></td>
                            </tr>
                            <tr>
                                <td>Birth date</td>
                                <td th:utext="${user.getBirthDate()}"></td>
                            </tr>
                            <tr>
                                <td>About</td>
                                <td th:utext="${user.getAbout()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="roles" class="tab-pane">
            <div class="card-deck w-75 mt-2" style="margin: 0 auto;">
                <div class="card col col-md-6 col-12">
                    <div class="card-body">
                        <h5 class="card-title">Selected</h5>
                        <table class="table table-sm table-min mt-3">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="authority : ${user.getAuthorities()}">
                                    <td th:utext="${authority.getName()}">Role name</td>
                                    <td th:utext="${authority.getDescription()}">Role description </td>
                                    <td><a href="" th:href="@{'/admin/role/detach/' + ${user.getId()} + '/' + ${authority.getId()}}">Detach</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card col col-md-6 col-12">
                    <div class="card-body">
                        <h5 class="card-title">Available</h5>
                        <table class="table table-sm table-min mt-3">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="authority : ${availableAuthorities}">
                                    <td th:utext="${authority.getName()}">Role name</td>
                                    <td th:utext="${authority.getDescription()}">Role description </td>
                                    <td><a href="" th:href="@{'/admin/role/attach/' + ${user.getId()} + '/' + ${authority.getId()}}">Attach</a></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/footer :: footer-scripts"></div>
</body>
</html>