<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">
<link href="/css/main.css" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Chair form</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-6 mx-auto mt-lg-5">
            <div class="card">
                <div class="card-header">
                    <p>New room</p>
                </div>
                <div class="card-body">
                    <form th:object="${chair}" th:action="@{'save'} " method="post">
                        <div class="alert alert-danger text-center"
                             th:if="${#fields.hasErrors('*')}">
                            <p>Please Correct Errors Bellow</p>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Description" th:field="*{description}">
                                <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Room:</label>
                            <div class="col-sm-3">
                                <select>
                                    <option th:each="room : ${roomList}" th:value="${root.id}" th:text="${room.description}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row float-right">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>