<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar-content" class="navbar navbar-expand-sm navbar-light border-bottom border-top mt-2">
    <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-monospace text-uppercase" href="#">Menu item #1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-monospace text-uppercase" href="#">Menu item #2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-monospace text-uppercase" href="#">Menu item #3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-monospace text-uppercase" href="#" th:href="@{/admin/index}">Admin panel</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item right">
                <form th:action="@{/logout}" method="post">
                    <button class="nav-link font-weight-bold text-monospace text-uppercase btn btn-outline-light"
                            type="submit">Sign out
                    </button>
                </form>
            </li>
            <!-- TODO -->
            <li class="nav-item dropdown">
                <?php if (isset($this->identity()->child) && $this->identity()->child == true): ?>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-warning-sign icon-white"></i>&nbsp;<?php echo $this->escapeHtml($this->identity()->displayname); ?>&nbsp;<b class="caret"></b></a>
                <?php else: ?>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $this->escapeHtml($this->identity()->displayname); ?>&nbsp;<b class="caret"></b></a>
                <?php endif; ?>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="<?php echo $this->url('frontend/account/profile'); ?>"><i class="icon-user"></i>&nbsp;<?php echo $this->translate('Profile'); ?></a>
                    <div class="dropdown-divider"></div>
                    <?php if ($this->isGranted('permission-81')): ?>
                    <?php if (isset($this->identity()->child) && $this->identity()->child == true): ?>
                    <a class="dropdown-item" href="<?php echo $this->url('frontend/account/switch'); ?>"><i class="icon-refresh"></i>&nbsp;<?php echo $this->translate('Original Account'); ?></a>
                    <?php else: ?>
                    <a class="dropdown-item" href="<?php echo $this->url('frontend/account/switch'); ?>#signin-modal" data-toggle="modal" data-target="#signin-modal"><i class="icon-refresh"></i>&nbsp;<?php echo $this->translate('Another Account'); ?></a>
                    <?php endif; ?>
                    <?php endif; ?>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="<?php echo $this->url('frontend/account/signout'); ?>"><i class="icon-off"></i>&nbsp;<?php echo $this->translate('Sign Out'); ?></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>