<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-content">
    <title id="pageTitle">GD</title>

</head>

<body>
<div class="w-75 mx-auto">
    <nav th:replace="fragments/navbar :: navbar-content"></nav>
    <h1 th:utext="${#authentication.name}">Index page</h1>
    <div th:include="fragments/footer :: footer-scripts"></div>
</div>
</body>


<!-- Modal -->
<div class="modal fade" id="doRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{'/index/request'}" th:method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Send new request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input class="form-control" type="text" id="firstName" placeholder="First Name" required
                        th:field="${request.firstName}">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input class="form-control" type="text" id="lastName" placeholder="Last Name" required
                        th:field="${request.lastName}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="form-control" type="tel" id="phone" pattern="^([\d]{3}-[\d]{3}-[\d]{2}-[\d]{2})$" placeholder="067-111-22-77" required
                        th:field="${request.phone}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Email</label>
                        <input class="form-control" type="email" id="email" placeholder="example@mail.com" required
                        th:field="${request.email}">
                    </div>
                    <div class="form-group">
                        <label for="service">Choose service</label>
                        <select class="form-control" id="service" th:field="${request.serviceType}">
                            <option th:each="value : ${T(org.ontario.goldendelicious.domain.enums.ServiceType).values()}"
                                    th:value="${value.name()}"
                                    th:text="${value.name()}">value
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="doctor">Choose doctor</label>
                        <select class="form-control" id="doctor" th:field="${request.doctorId}">
                            <option th:each="doctor : ${doctors}"
                            th:value="${doctor.getId()}"
                            th:text="${doctor.getFirstName() + ' ' + doctor.getLastName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Choose date</label>
                        <input class="form-control" type="date" id="date" required
                        th:field="${request.date}"
                        th:min="${#dates.format(#dates.createToday(), 'YYY-MM-dd')}"
                        th:max="${#dates.format(#dates.create(#dates.createToday().getYear() + 1900, #dates.createToday().getMonth() + 1, #dates.createNow().getDate() + 14), 'YYYY-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label for="time">Choose time</label>
                        <select class="form-control" id="time" th:field="${request.time}"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var doctorId;
    var date;
    var times = [];

    $( "#date" ).change(function () {
        getAvailableTime();
    });

    $( "#doctor" ).change(function () {
        getAvailableTime();
    });

    function getAvailableTime() {
        select = document.getElementById('time');
        while (select.firstChild) {
            select.removeChild(select.firstChild);
        }

        doctorId = $( "#doctor" ).val();
        date = $( "#date" ).val();
        $.ajax({
            type: "POST",
            url: "/staff/free-time",
            dataType: "json",
            data: {
                doctorId: doctorId,
                date: date
            },

            success: function (data) {
                if (data.status === "success") {
                    times = data.times;
                    times.forEach(function(item, i, arr) {
                        $( "#time" ).append($("<option value='" + item + "'>" + item + "</option>"));
                    });
                }
            }
        });
    }
</script>
</html>